Design/XML Schemas/TH-TDED.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by TEAM (RENEGADE) -->
<xsd:schema targetNamespace="THeDOCS TDED" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:UN-TDED="UNeDOCS TDED 2003/07" xmlns:TH-TDED="THeDOCS TDED" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="UNeDOCS TDED 2003/07" schemaLocation="TDED_UNeDOCS.xsd"/>
  <xsd:complexType name="AdditionalInformationType">
    <xsd:sequence>
      <xsd:element name="InformationCode" type="UN-TDED:InformationDetailsCodeType" minOccurs="0"/>
      <xsd:element name="InformationText" type="UN-TDED:InformationDetailsTextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressStructuredType">
    <xsd:sequence>
      <xsd:element name="Name" type="UN-TDED:PartyNameTextType" minOccurs="0"/>
      <xsd:element name="Street" type="UN-TDED:PostalDeliveryPointTextType" minOccurs="0"/>
      <xsd:element name="City" type="UN-TDED:CityNameTextType" minOccurs="0"/>
      <xsd:element name="CountrySub-entity" type="UN-TDED:CountrySubdivisionTextType" minOccurs="0"/>
      <xsd:element name="PostalZone" type="UN-TDED:PostalIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="CountryCode" type="UN-TDED:CountryIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="CountryName" type="UN-TDED:CountryNameTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AnyType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="AuthenticationType">
    <xsd:sequence>
      <xsd:element name="DocumentIssue" type="TH-TDED:DocumentIssueType" minOccurs="0"/>
      <xsd:element name="DocumentIssueDate" type="TH-TDED:DocumentIssueDateType" minOccurs="0"/>
      <xsd:element name="Signature" type="TH-TDED:SignatureType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BuyerPartyType">
    <xsd:sequence>
      <xsd:element name="BuyerID" type="UN-TDED:BuyerIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="TaxReference" type="UN-TDED:PartyTaxIdentifierType" minOccurs="0"/>
      <xsd:element name="BuyerReference" type="TH-TDED:BuyerReferenceType" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="AddressStructured" type="TH-TDED:AddressStructuredType" minOccurs="0"/>
        <xsd:element name="BuyerNameAddressUnstructured" type="TH-TDED:BuyerNameAddressUnstructuredType" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="InformationContact" type="TH-TDED:InformationContactType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BuyerReferenceType">
    <xsd:sequence>
      <xsd:element name="ReferenceID" type="UN-TDED:OrderBuyerAssignedIdentificationIdentifierType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BuyerNameAddressUnstructuredType">
    <xsd:sequence>
      <xsd:element name="NameAddressUnstructured" type="UN-TDED:BuyerIdentificationTextType" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommodityCodeType">
    <xsd:sequence>
      <xsd:element name="CommodityCode" type="UN-TDED:GoodsItemCustomsRequiredIdentifierType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommunicationDetailsType">
    <xsd:sequence>
      <xsd:element name="CommunicationNumber" type="UN-TDED:CommunicationAddressIdentifierType"/>
      <xsd:element name="CommunicationType" type="UN-TDED:CommunicationMediumTypeCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsignmentNetWeightType">
    <xsd:sequence>
      <xsd:element name="Measure" type="UN-TDED:NetWeightMeasureType"/>
      <xsd:element name="MeasureUnitCode" type="UN-TDED:MeasurementUnitCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsignmentTransportDetailsType">
    <xsd:sequence>
      <xsd:element name="TransportMeans" type="TH-TDED:TransportMeansType" minOccurs="0"/>
      <xsd:element name="TransportMode" type="TH-TDED:TransportModeType" minOccurs="0"/>
      <xsd:element name="PortOfLoading" type="TH-TDED:PortOfLoadingType" minOccurs="0"/>
      <xsd:element name="PortOfDischarge" type="TH-TDED:PortOfDischargeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsigneeNameAddressUnstructuredType">
    <xsd:sequence>
      <xsd:element name="NameAddressUnstructured" type="UN-TDED:ConsigneeIdentificationTextType" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsigneePartyType">
    <xsd:sequence>
      <xsd:element name="ConsigneeID" type="UN-TDED:ConsigneeIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="TaxReference" type="UN-TDED:PartyTaxIdentifierType" minOccurs="0"/>
      <xsd:element name="ToOrderOfIndicator" type="UN-TDED:YesOrNoIndicatorType" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="AddressStructured" type="TH-TDED:AddressStructuredType" minOccurs="0"/>
        <xsd:element name="ConsigneeNameAddressUnstructured" type="TH-TDED:ConsigneeNameAddressUnstructuredType" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="InformationContact" type="TH-TDED:InformationContactType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsignorNameAddressUnstructuredType">
    <xsd:sequence>
      <xsd:element name="NameAddressUnstructured" type="UN-TDED:ConsignorIdentificationTextType" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsignorPartyType">
    <xsd:sequence>
      <xsd:element name="ConsignorID" type="UN-TDED:ConsignorIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="TaxReference" type="UN-TDED:PartyTaxIdentifierType" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="AddressStructured" type="TH-TDED:AddressStructuredType" minOccurs="0"/>
        <xsd:element name="ConsignorNameAddressUnstructured" type="TH-TDED:ConsignorNameAddressUnstructuredType" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="InformationContact" type="TH-TDED:InformationContactType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CountryOfDestinationType">
    <xsd:sequence>
      <xsd:element name="CountryCode" type="UN-TDED:ConsignmentFinalDestinationCountryIdentifierType"/>
      <xsd:element name="CountryName" type="UN-TDED:ConsignmentFinalDestinationCountryTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CountryOfOriginType">
    <xsd:sequence>
      <xsd:element name="CountryCode" type="UN-TDED:OriginCountryIdentificationIdentifierType"/>
      <xsd:element name="CountryName" type="UN-TDED:OriginCountryNameTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CountryOfPurchaseType">
    <xsd:sequence>
      <xsd:element name="CountryCode" type="UN-TDED:CountryIdentificationIdentifierType"/>
      <xsd:element name="CountryName" type="UN-TDED:CountryNameTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomsClearancePartyType">
    <xsd:sequence>
      <xsd:element name="CustomsClearanceID" type="UN-TDED:PartyIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="CustomsClearanceName" type="UN-TDED:PartyNameTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DistrictType">
    <xsd:sequence>
      <xsd:element name="DistrictCode" type="xsd:string"/>
      <xsd:element name="DistrictName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DigitalSignatureTextType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="256"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DocumentHeaderType">
    <xsd:sequence>
      <xsd:element name="DocumentReference" type="TH-TDED:DocumentReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentIssueDateType">
    <xsd:sequence>
      <xsd:element name="IssueDate" type="UN-TDED:DocumentIssueDateTextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentIssueType">
    <xsd:sequence>
      <xsd:element name="Place" type="UN-TDED:DocumentIssueLocationTextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentReferenceType">
    <xsd:sequence>
      <xsd:element name="DocumentType" type="UN-TDED:DocumentNameCodeType"/>
      <xsd:element name="DocumentName" type="UN-TDED:DocumentNameTextType"/>
      <xsd:element name="DocumentNumber" type="UN-TDED:DocumentIdentificationIdentifierType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentSummaryType">
    <xsd:sequence>
      <xsd:element name="Authentication" type="TH-TDED:AuthenticationType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForwarderNameAddressUnstructuredType">
    <xsd:sequence>
      <xsd:element name="NameAddressUnstructured" type="UN-TDED:FreightForwarderIdentificationTextType" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FreightForwarderPartyType">
    <xsd:sequence>
      <xsd:element name="ForwarderID" type="UN-TDED:FreightForwarderIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="TaxReference" type="UN-TDED:PartyTaxIdentifierType" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="AddressStructured" type="TH-TDED:AddressStructuredType" minOccurs="0"/>
        <xsd:element name="ForwarderNameAddressUnstructured" type="TH-TDED:ForwarderNameAddressUnstructuredType" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="InformationContact" type="TH-TDED:InformationContactType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GoodsItemGrossWeightType">
    <xsd:sequence>
      <xsd:element name="Measure" type="UN-TDED:ItemGrossWeightMeasureType"/>
      <xsd:element name="MeasureUnitCode" type="UN-TDED:MeasurementUnitCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GoodsItemMeasurementsType">
    <xsd:sequence>
      <xsd:element name="GrossWeight" type="TH-TDED:GoodsItemGrossWeightType" minOccurs="0"/>
      <xsd:element name="NetWeight" type="TH-TDED:GoodsItemNetWeightType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GoodsItemNetWeightType">
    <xsd:sequence>
      <xsd:element name="Measure" type="UN-TDED:GoodsItemNetWeightMeasureType"/>
      <xsd:element name="MeasureUnitCode" type="UN-TDED:MeasurementUnitCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GoodsItemPackagingType">
    <xsd:sequence>
      <xsd:element name="ShippingMark" type="UN-TDED:ItemShippingMarksTextType" minOccurs="0"/>
      <xsd:element name="NumberOfPackages" type="UN-TDED:PackageQuantityType"/>
      <xsd:element name="KindOfPackages" type="UN-TDED:PackageTypeTextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GoodsItemType">
    <xsd:sequence>
      <xsd:element name="ItemID" type="UN-TDED:GoodsItemSequenceIdentifierType" minOccurs="0"/>
      <xsd:element name="TransportEquipmentID" type="UN-TDED:TransportEquipmentIdentificationIdentifierType" minOccurs="0" maxOccurs="99"/>
      <xsd:element name="ItemDescription" type="UN-TDED:GoodsItemDescriptionTextType"/>
      <xsd:element name="GoodsItemPackaging" type="TH-TDED:GoodsItemPackagingType" maxOccurs="99"/>
      <xsd:element name="AdditionalInformation" type="TH-TDED:AdditionalInformationType" minOccurs="0"/>
      <xsd:element name="GoodsItemMeasurements" type="TH-TDED:GoodsItemMeasurementsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="HalalCompanyCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="17"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InformationContactType">
    <xsd:sequence>
      <xsd:element name="ContactName" type="UN-TDED:InformationContactTextType" minOccurs="0"/>
      <xsd:element name="CommunicationDetails" type="TH-TDED:CommunicationDetailsType" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceIssueDateType">
    <xsd:sequence>
      <xsd:element name="IssueDate" type="UN-TDED:InvoiceIssueDateTextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InvoiceReferenceType">
    <xsd:sequence>
      <xsd:element name="InvoiceNumber" type="UN-TDED:InvoiceeIdentificationIdentifierType"/>
      <xsd:element name="InvoiceIssueDate" type="TH-TDED:InvoiceIssueDateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemAmountType">
    <xsd:sequence>
      <xsd:element name="ItemAmount" type="UN-TDED:ItemAmountType" minOccurs="0"/>
      <xsd:element name="CurrencyCode" type="UN-TDED:CurrencyTypeCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineItemNetWeightType">
    <xsd:sequence>
      <xsd:element name="Measure" type="UN-TDED:LineItemNetWeightMeasureType"/>
      <xsd:element name="MeasureUnitCode" type="UN-TDED:MeasurementUnitCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:sequence>
      <xsd:element name="LocationName" type="UN-TDED:LocationNameTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ManufacturerIdentificationIdentifierType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="17"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ManufacturerIdentificationTextType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="512"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ManufacturerNameAddressUnstructuredType">
    <xsd:sequence>
      <xsd:element name="NameAddressUnstructured" type="TH-TDED:ManufacturerIdentificationTextType" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ManufacturerPartyType">
    <xsd:sequence>
      <xsd:element name="ManufacturerID" type="TH-TDED:ManufacturerIdentificationIdentifierType" minOccurs="0"/>
      <xsd:element name="TaxReference" type="UN-TDED:PartyTaxIdentifierType" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="AddressStructured" type="TH-TDED:AddressStructuredType" minOccurs="0"/>
        <xsd:element name="ManufacturerNameAddressUnstructured" type="TH-TDED:ManufacturerNameAddressUnstructuredType" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="InformationContact" type="TH-TDED:InformationContactType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MonetaryAmountType">
    <xsd:sequence>
      <xsd:element name="MonetaryValue" type="UN-TDED:MonetaryAmountAmountType"/>
      <xsd:element name="MonetaryType" type="UN-TDED:MonetaryAmountTypeCodeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="OriginCriterionType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="OtherReferenceType">
    <xsd:sequence>
      <xsd:element name="ReferenceID" type="UN-TDED:ReferenceIdentificationIdentifierType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PersonBirthDateDateTimeType">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PortOfDischargeType">
    <xsd:sequence>
      <xsd:element name="DischargeLocationID" type="UN-TDED:ConsignmentDischargeLocationIdentifierType" minOccurs="0"/>
      <xsd:element name="DischargeLocationName" type="UN-TDED:ConsignmentDischargeLocationTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PortOfLoadingType">
    <xsd:sequence>
      <xsd:element name="LoadingLocationID" type="UN-TDED:ConsignmentLoadingLocationIdentifierType" minOccurs="0"/>
      <xsd:element name="LoadingLocationName" type="UN-TDED:ConsignmentLoadingLocationTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProvinceType">
    <xsd:sequence>
      <xsd:element name="ProvinceCode" type="xsd:string"/>
      <xsd:element name="ProvinceName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SellerNameAddressUnstructuredType">
    <xsd:sequence>
      <xsd:element name="NameAddressUnstructured" type="TH-TDED:AnyType" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SellerPartyType">
    <xsd:sequence>
      <xsd:element name="SellerID" type="TH-TDED:AnyType" minOccurs="0"/>
      <xsd:element name="TaxReference" type="UN-TDED:PartyTaxIdentifierType" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="AddressStructured" type="TH-TDED:AddressStructuredType" minOccurs="0"/>
        <xsd:element name="SellerNameAddressUnstructured" type="TH-TDED:SellerNameAddressUnstructuredType" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="InformationContact" type="TH-TDED:InformationContactType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SellerReferenceType">
    <xsd:sequence>
      <xsd:element name="ReferenceID" type="UN-TDED:OrderAcknowledgementDocumentIdentificationIdentifierType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignatureType">
    <xsd:sequence>
      <xsd:element name="AuthenticationCode" type="UN-TDED:DocumentAuthenticationCodeType" minOccurs="0"/>
      <xsd:element name="AuthenticationText" type="UN-TDED:DocumentAuthenticationTextType" minOccurs="0"/>
      <xsd:element name="DigitalSignatureText" type="TH-TDED:DigitalSignatureTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TermsOfPaymentType">
    <xsd:sequence>
      <xsd:element name="PaymentTermsCode" type="UN-TDED:PaymentTermCodeType" minOccurs="0"/>
      <xsd:element name="PaymentTermsText" type="UN-TDED:PaymentTermTextType" minOccurs="0"/>
      <xsd:element name="PaymentCurrency" type="UN-TDED:PaymentCurrencyIdentifierType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ThaiPartyIdentifierType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="13"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportMeansType">
    <xsd:sequence>
      <xsd:element name="TransportMeansCode" type="UN-TDED:TransportMeansTypeCodeType" minOccurs="0"/>
      <xsd:element name="TransportMeansText" type="UN-TDED:TransportMeansTypeTextType" minOccurs="0"/>
      <xsd:element name="TransportMeansJourneyID" type="UN-TDED:TransportMeansJourneyIdentifierType" minOccurs="0"/>
      <xsd:element name="TransportMeansIdentificationText" type="UN-TDED:TransportMeansIdentificationTextType" minOccurs="0"/>
      <xsd:element name="TransportMeansEstimatedDepartureDateTime" type="UN-TDED:TransportMeansEstimatedDepartureDateTimeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransportModeType">
    <xsd:sequence>
      <xsd:element name="TransportModeCode" type="UN-TDED:TransportModeCodeType" minOccurs="0"/>
      <xsd:element name="TransportModeText" type="UN-TDED:TransportModeTextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
